<%= form_with model: ticket_detail do |form| %>

    <div>
        <%= form.label :status %><br>
        <%= form.select :status , ["Booked","Cancel"] %><br>
    </div>
    <div>
        <%= form.label :passenger_id %><br>
        <%= form.number_field :passenger_id, value: params[:pass_id] %>
    </div>

    <div>
        <%= form.label :flight_id %><br>
        <%= form.number_field :flight_id, value: params[:f_id].to_i %>
    </div>

<br>

    <div>
        <%= form.submit :Generate_Ticket%>
    </div>
<% end %>
